body {
  background: #EFEFEF;
  color: #666;
  font-size: 14px;
  min-height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TEXT */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

a { text-decoration: none; outline: none; }
img {outline: none;}

h1, h2, h3, h4, h5 {
}
h1 {
  font-family: 'Bubblegum Sans', cursive;
}

h2 {
}

h3{
}

h4{
}

h5{
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.center {
  text-align: center;
}
.right{
  float:right;
}
.separator{
  border-top: dotted 1px #ccc;
  margin: 20px 0;
}

.price{
  font-size: 12px;
  color: #aaa;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 960.gs */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.container_12,
.container_16,
.container_24 {
  margin: 0px auto;
  border-radius: 10px;
}

.top-wrapper{
  background: #444;
  border-bottom: 1px solid #333;
  padding-top: 10px;
}

.top-wrapper img {
  width: 100px;
}

.top-wrapper a{
  color: #EFEFEF;
  font-size: 48px;
  text-shadow: 0px -2px 5px #000;
}

.master-wrapper{
  background: url("../images/carnaval_de_salvador_6.jpg") center;
  padding-bottom: 10px;
}

.tagline-wrapper{
  background: url("../images/pattern5.png") top;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-shadow: 0px 1px 0px #fff;
}

.footer-wrapper{
  background: #f8f8f8;
  padding: 15px 0;
  margin-top:20px;
  margin-bottom:0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Lists */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

ul { padding: 10px; margin: 0;}
ul li { margin: 0 10px; display: inline;}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* IDs */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#master div{
  position: relative;
  margin-top: 10px;
}
#master input[type="text"]{
  border: none;
  box-shadow: 0 0 5px 5px #ddd;
    -moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
  width: 460px;
}
#master input[type="submit"]{
  background: url('../images/search.png') no-repeat;
  border: none;
  height: 45px;
  width: 45px;
}
#content p{
  text-align: left;
}

#footer h3{
  text-align: center;
  font-family: "Cabin Sketch", Georgia, serif;
}
ul#categories li a{
  font: normal 20px/1em 'Heydings';
  color: #000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Inputs */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

dt {
  width: 100px;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
  text-align: right;
}

dd {
  width: 200px;
  float: left;
}

select, input[type="text"], textarea{
  background: #fff;
  padding: 10px;
  outline: none;
}
select {
  width: 220px;
}

label{
  float: left;
  width: 120px;
}

input[type=submit]{
  cursor:pointer;
  cursor:hand;
}
input[type=submit]:hover {
}

.contact-form{
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
}
.contact-form .inner{
  padding: 10px;
}

.blank{
  border-color: #fff;
}
.card{
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}
