<div class="card">
  <h3><%= request.name %></h3>
  <p><%= request.description %></p>
  <div class="user"><%= request.user.name %></div>
  em
  <div class="user"><%= request.category.name %></div>

</div>