<div class="grid_12">
   Segurança | Lixo | Iluminação ...
   <!-- @TODO: fazer busca de todas categorias e poder filtrar elas -->
   <!-- @TODO: decidir se vamos deixar aqui ou no layout -->
</div>

<div class="clear"></div>

<!-- @TODO: fazer um foreach nos problemas -->
<div class="grid_12">
   <div class="grid_3 alpha"><%= render_problem(1) %></div>
   <div class="grid_3"><%= render_problem(1) %></div>
   <div class="grid_3"><%= render_problem(1) %></div>
   <div class="grid_3 omega"><%= render_problem(1) %></div>
</div>

<!-- @TODO: fazer paginação  -->