<div class="grid_12">
  <ul id="categories">
  </ul>
   Segurança | Lixo | Iluminação ...
   <!-- @TODO: fazer busca de todas categorias e poder filtrar elas -->
   <!-- @TODO: decidir se vamos deixar aqui ou no layout -->
</div>

<div class="clear"></div>

<!-- @TODO: fazer um foreach nos problemas -->
<% @requests.in_groups_of(4) do |requests| %>
  <div class="grid_12">
     <div class="grid_3 alpha"><%= render_problem(requests[0]) %></div>
     <div class="grid_3"><%= render_problem(requests[1]) %></div>
     <div class="grid_3"><%= render_problem(requests[2]) %></div>
     <div class="grid_3 omega"><%= render_problem(requests[3]) %></div>
  </div>
  <hr class="blank"/>
<% end %>

<!-- @TODO: fazer paginação  -->
